<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="nav-container">
                    <a href="/menu1" class="menu-link">Menu 1</a>
                    <a href="/menu2" class="menu-link">Menu 2</a>
                </div>
            </nav>
        </header>

        <div class="dynamic-content-container">
            <h1>Welcome to the homepage</h1>
        </div>
    </div>
    <script src="js/dynamicContent.js"></script>
</body>

</html>